.rounded-5
  -ms-border-radius: 5px
  -o-border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px

span.prefix
  label
    padding-top: 0

body
  &.blank
    background: white repeat center center
    background:
      image: url("../images/fabric_of_squares_gray.png")
  &.cover
    background: white no-repeat center center fixed
    background:
      size: cover

    #main-wrapper
      h1
        text-shadow: -1px -1px 1px #fff, 1px 1px 2px #000

#main-wrapper
  h1
    position: relative
    left: 50%
    width: 260px
    height: 45px
    margin-left: -130px
    background: url("../images/logo.png") no-repeat center center
    span
      display: none

#main-container
  background-color: #fff

#location-form
  margin-bottom: 1em
  a.suffix
    text-decoration: none
  .valid, .invalid
    i
      color: white

#location-title
  margin-bottom: 1em
  .callout
    padding: 0.5em 1em

#player-controls
  margin-bottom: 1em
  .callout
    padding:
      top: 0
      bottom: 0
  .mejs-container
    .mejs-controls
      background: #1dabb8
      .mejs-time
        span
          font-size: 120%
      .mejs-time-rail
        .mejs-time-current
          background: #fff
      .mejs-horizontal-volume-slider
        .mejs-horizontal-volume-current
          background: #fff

#player-track
  margin-bottom: 1em
  .cover
    min-height: 180px
    border: rgba(0, 0, 0, 0.1) 5px solid
    background-color: #1dabb8
    text-align: center
    .img, img
      display: block
      width: 100%
    .img
      font-size: 8em
      line-height: 1.5em
      color: #fff
  .track
    line-height: 1.1
    .tag
      float: right
      font-size: 80%
      margin:
        top: 0.5em
        left: 1em
      border: #bce8f1 1px solid
      padding: 0.125em 0.5em
      background-color: #fff
    .title
      margin-bottom: 0.5em
      font-size: 180%
      color: #e67e22
    .artist
      margin-bottom: 0.5em
      font-size: 140%
      color: #198d98
    .album
      margin-bottom: 0
      font-size: 110%

#weather-mood
  margin-bottom: 1em
  h3
    small
      margin-left: 1em
  .tiles
    .tile
      display: block
      margin:
        left: 0.25em
        right: 0.25em
      cursor: inherit

#weather-info
  margin-bottom: 1em
  table
    colgroup
      col
        width: 20%
    th
      text-transform: uppercase
      font-weight: normal
      text-align: center
    td
      text-align: center
    tbody
      td
        &.temp
          color: #198d98

#footer
